*{
	margin:0;
	padding:0;
	font-famil:sans-serif;
}
.container
{
	width:100%;
	min-height:100vh;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
	overflow:hidden;
}
.navbar{
	width:100%;
	display:flex;
	align-items:center;
}
.logo
{
	width:96px;
	height:54px;
	cursor:pointer;
	margin:30px 0;
}
.menu-icon
{
	width:25px;
	cursor:pointer;
		display:none;
	
}
nav{
	flex:1;
	text-align:right;
}
nav ul li{
	
	list-style:none;
	display:inline-block;
	margin-right:30px;
}
nav ul li a{
	
	text-decoration:none;
	color:#000;
	font-size:14px;
	
}
nav ul li a:hover{
	color:#ff5ea2;
	
}

.social-links img{
	height:13px;
	margin:20px;
	cursor:pointer;
}
.social-link{
	text-align:center;
}
@media only screen and (max-width:700px)
{
	nav ul{
	width:100%;
	background:linear-gradient(#ff54a2,#ff575a);
	position:absolute;
	top:75px;
	right:0;
	z-index:2;
	}
		nav ul li{
display:block;
margin-top:10px;
margin-bottom:10px;
	}
	nav ul li a{
color:#fff;
	}
	.menu-icon{
	display:block;}
	#menuList{
	overflow:hidden;
	transition:0.5s;
	}
	.row
	{
	flex-direction:column-reverse;
	margin:50px 0;
	
	}
	.col-2
	{
	flex-basis:100%;
	margin-bottom:50px;
	
	}
	.col-2 .controller
	{
	width:77%;
	
	}
	.col-1
	{
	flex-basis:100%;
	
	
	}
	.col-1 h1
	{
	font-size:35px;
	
	
	}
	.col-1 h2
	{
	font-size:15px;
	
	
	}
}